<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AIrabam</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body style="background-color:#282A3A;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/icons/airabamLogo.png"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">      
                            <a class="nav-link text-light mytooltip" asp-area="" asp-controller="Home" asp-action="Index">
                                <span class="tooltiptext">Home</span>
                                <img src="~/icons/icons8-home-64.png"/></a>       
                        </li>
                        <li class="nav-item">   
                            <a class="nav-link text-light mytooltip" href="https://github.com/bugra-can-gundogan/AIrabamASP/blob/main/AIrabam.pdf">
                                <span class="tooltiptext">Read Research Paper</span>
                                <img src="~/icons/icons8-document-64.png"/></a>
                        </li>
                        <li class="nav-item">   
                            <a class="nav-link text-light mytooltip" asp-area="" asp-controller="Home" asp-action="PredictPrice">
                                <span class="tooltiptext">Predict price of a car!</span>
                                <img src="~/icons/icons8-artificial-intelligence-64.png"/></a> 
                        </li>
                        <li class="nav-item">   
                            <a class="nav-link text-light mytooltip" asp-area="" asp-controller="Home" asp-action="Graphs">
                                <span class="tooltiptext">Check out some charts</span>
                                <img src="~/icons/icons8-combo-chart-64.png"/></a>
                        </li>
                        <li class="nav-item">      
                            <a class="nav-link text-light mytooltip" href="https://github.com/bugra-can-gundogan/AIrabamASP">
                                <span class="tooltiptext">Github Page</span>
                                <img src="~/icons/icons8-github-64.png"/></a>       
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5 bg-white px-0 py-4 rounded">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="~/Views/_CookieConsent.cshtml" />

    <footer class="footer text-muted mt-5">
        <div class="container text-center">
            &copy; 2023 - Buğra Can Gündoğan
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
