@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-4">
    <div class="welcome-banner p-5">
        <h1 class="display-4">Welcome to AIrabam!</h1>
        <img class="rounded bg-dark w-50 mt-4" src="~/icons/airabamLogo.png"/>
    </div>
    <hr />
    <div class="container">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col px-4">
            <h3 class="fs-2">What is AIrabam?</h3>
            <p>Airabam is an AI powered web application where you can select features of a used car and let the artificial intelligence decide its value.</p>
          </div>
          <div class="feature col px-4">
            <h3 class="fs-2">How does it work?</h3>
            <p>AIrabam is a machine learning model that has been trained on thousands of car adverts over the last quarter of 2022 in Turkey. The model created is making predictions based on the said training data. If this is not sufficient information for you and you are interested in the details of the research you can just read the research paper.</p>
          </div>
          <div class="feature col px-4">
            <h3 class="fs-2">How did you come up with the name?</h3>
            <p>The word 'araba' means car in Turkish and 'arabam' means my car. It was impossible to not choose 'AIrabam' for this project, even though it doesn't really roll off the tongue easily.</p>
          </div>
        </div>
    </div>
    <div class="b-example-divider"></div>
    <div class="container">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col px-4">
            <h3 class="fs-2">What can I use it for?</h3>
            <p>AIrabam can help you decide if the value of the car is acceptable while buying or selling your car. </p>
          </div>
          <div class="feature col px-4">
            <h3 class="fs-2">Does it have any limitations?</h3>
            <p>AIrabam is trained with thousands of data over a three month span (October to December,2022) in Turkey. Car prices vary in time depending on the inflation, the demand, the production and the country. This model is designed to make accurate predictions in Turkey, within the current economical situation.</p>
          </div>
          <div class="feature col px-4">
            <h3 class="fs-2">How accurate is it?</h3>
            <p>Around 90%. Let's say you enter the features and AIrabam suggests it's price should be around 100.000₺. With the 10% margin of error you can deduct price could be between 90.000₺ and 110.000₺.</p>
          </div>
        </div>
    </div>

    
</div>
